*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: "Hind", sans-serif;
	scroll-behavior: smooth;
}

/*..........Navbar...........*/

.bg-light{
	background: white!important;
	padding-bottom: 15px;
	width: 100%;
	border-bottom: 2px solid #f4f4f4;
}

.navbar-brand{
	padding-top: 15px;
	padding-left: 60px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 180px;
	height: 65px;
}

.nav-item{
	padding-left: 50px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	font-weight: 480;
	font-family: sans-serif;
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

.dropdown-menu{
	background-color: rgb(30,144,255);
	border: none;
}

.dropdown-item{
	padding: 5px 6px;
	color: #fff;
	font-size: 14px;
}

.dropdown-item:hover{
	color: #f89828;
}

/*.............Intro............*/

.intro{
	margin-top: 50px;
	margin-bottom: 40px;
	background: url(../img/);
	background-size: cover;
}

.intro img{
	margin-top: 80px;
	width: 650px;
	height: 500px;
}

.intro h2{
	padding-top: 150px;
	padding-right: 10px;
	padding-bottom: 4px;
	font-size: 60px;
	font-weight: 800;
	color: green;
}

.intro p{
	font-size: 25px;
	padding-bottom: 20px;
	font-weight: 400;
}

.intro .btn{
	border-radius: 100px;
	background-color: green;
	color: #fff;
	padding: 10px 50px;
}

/*..........Covers........*/

.cv{
	padding: 20px 0 100px 0;
	background: #f4f4f4;
}

.cv .row{
	margin: 0;
}

.cv h1{
	color: #383838;
	font-size: 40px;
	font-weight: 600;
	padding: 10px 0 80px 0;
}

.cv img{
	width: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cv h5{
	padding: 15px 0 5px 0;
	color: #006400;
	font-weight: bold;
}

.cv p{
	line-height: 1.7;
	color: #696969;
	font-size: 16px;
	font-weight: 500;
}

.cv a{
	text-decoration: none;
}

.cv .btn{
	margin: auto;
	display: block;
	background-color: forestgreen;
	color: white;
	border-radius: 100px;
	padding: 5px 20px;
}

.cv .bnt:focus{
	box-shadow: none;
}

/*...........Why Us..........*/

.abt{
	padding-top: 20px;
	padding-bottom: 80px;
}

.abt h2{
	text-align: center;
	font-weight: 600;
	font-size: 35px;
	color: #383838;
	padding: 40px 0 40px 0;
	letter-spacing: 1px;
}

.ac{
	padding-top: 10px;
}

.ac p{
	text-align: left;
	line-height: 1.7;
	padding-right: 10px;
}

.pg{
	padding: 5px 40px 0 50px;
}

.pg p{
	float: left;
}

.pg .progress{
	height: 8px;
	margin-top: 10px;
}

/*..........Testimonials.........*/

/*.slider h2{
	padding: 40px 0;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: 1px;
	color: #383838;
}

.carousel-item blockquote{
	text-align: center;
	line-height: 1.6
	color: #696969;
	padding: 0 350px;
}

.carousel-item h5{
	text-align: center;
	display: block;font-size: 20px;
}

.carousel-item span{
	text-align: center;
}*/

/*..........Partners...........*/

.pn{
	background: #f4f4f4;
	padding-bottom: 40px;
	margin-bottom: 1px solid black;
}

.pn h1{
	padding: 30px 0 40px 0;
	color: #383838;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
}

.pn .box{
	margin: 15px 35px 0 0;
}

.pn img{
	width: 150px;
	height: 150px;
}

/*.........Medical Cover..........*/

.md_wrap{
	padding-bottom: 80px;
	background-color: #f4f4f4;
}

.med{
	margin-top: 150px;
	margin-bottom: 50px;
}

.med h2{
	padding: 100px 0 10px 0;
	font-size: 45px;
	color: green;
}

.med p{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 1.7;
}

.med img{
	width: 450px;
	height: 400px;
}

.med .btn{
	background-color: green;
	color: #fff;
	border-radius: 100px;
	padding: 5px 20px;
}

.med_1 h3{
	padding: 40px 0 0 0;
	color: green;
	font-weight: 700;
	font-size: 24px;
}

.med_1 p{
	width: 500px;
	padding: 5px 0 30px 0;
	font-size: 17px;
}

.med_2 img{
	margin: 100px 0 0 100px;
	width: 500px;
	height: 500px;
}

.med_2 h1{
	font-weight: 700;
	font-size: 28px;
	padding: 85px 0 5px 0;
}

.med_2 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_2 i{
	color: green;
	padding-right: 5px;
}

.med_2 p{
	line-height: 1.6;
	font-weight: 400;
	font-size: 17px;
}

.med_3 h1{
	font-weight: 700;
	font-size: 25px;
	padding: 150px 0 10px 0;
}

.med_3 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_3 i{
	color: green;
	padding-right: 5px;
	padding-bottom: 10px;
}

.med_3 img{
	margin: 150px 100px 0 0;
	width: 500px;
	height: 500px;
}

.p_color{
	color: green;
}

.med_4 ul{
	list-style-type: none;
}

.med_4 img{
	margin: 80px 0 0 50px;
	width: 500px;
	height: 500px;
}

.med_4 h1{
	padding: 150px 0 10px 0;
	font-weight: 700;
	font-size: 26px;
}

.med_4 li{
	padding-bottom: 20px;
}

.med_4 i{
	color: green;
	text-align: left;
	padding-right: 5px; 
}

/*.........Life Cover..........*/

.lf{
	padding: 10px 0 40px 0;
}

.lf img{
	margin: 20px 0 30px 0;
	width: 450px;
	height: 400px;
}

.lf h1{
	padding: 150px 0 0 0;
	font-size: 28px;
	font-weight: 700;
	width: 400px;
}

.lf p{
	width: 400px;
	line-height: 1.7;
	font-weight: 400;
	font-size: 17px;
}

.lf img{
	width: 450px;
	height: 400px;
}

.lf_1 h1{
	color: green;
	padding: 90px 0 10px 0;
	font-size: 24px;
	font-weight: 700;
}

.lf_1 p{
	padding: 0px 0 70px 0;
	font-size: 17px;
}

/*.........Business Cover..........*/

.bn{
	padding: 30px 0 90px 0;
}

.bn h1{
	padding: 200px 0 0 0;
	font-size: 28px;
	font-weight: 700;
	width: 400px;
}

.bn p{
	width: 400px;
	line-height: 1.7;
	font-weight: 400;
	font-size: 17px;
}

.bn img{
	margin: 90px 0 0 0;
	width: 500px;
	height: 450px;
}

.bn_1 p{
	padding: 70px 0 70px 0;
	font-size: 17px;
	font-weight: 500;
	font-style: italic;
	width: 400px;
}

.bn_p .row{
	margin: 0;
}

.bn_hp{
	background-color: #262626;
	padding: 40px 20px;
}

.bn_hp p{
	line-height: 1.7;
}

.bn_2{
	background: url(../img/business1.jpg);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.bn_4{
	background: url(../img/business2.jpg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bn_3{
	border: 1px solid #309cea ;
	padding: 50px 30px;
}

.s_color{
	color: white;
}

.bn_6 img{
	display: none;
}

.bn_8 img{
	display: none;
}

/*.........Property Cover.........*/

.pt_0{
	padding: 10px 0 90px 0;
}

.pt{
	padding-top: 150px;
	padding-bottom: 150px;
}

.pt h2{
	padding-top: 100px;
	padding-bottom: 10px;
	font-size: 45px;
	color: green;
}

.pt p{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 1.7;
}

.pt img{
	width: 700px;
	height: 500px;
}

/*.pt_1 h1{
	width: 500px;
}*/

.pt_1 p{
	width: 500px;
	padding-bottom: 30px;
}

.pr img{
	margin: 80px 0 0 0;
	width: 520px;
	height: 450px;
}

.pr h1{
	padding: 200px 0 5px 0;
	font-size: 28px;
	font-weight: 700px;
	width: 300px;
}

.pr p{
	width: 400px;
}

.pr_2 img{
	display: none;
}


/*.........Car Cover..........*/

.cp h1{
	padding: 80px 0 5px 0;
	font-size: 22px;
}

.cp p{
	width: 500px;
	font-weight: 400;
	padding: 0 0 40px 0;
}

.cb h1{
	padding: 90px 0 0 0;
	font-size: 28px;
	font-weight: 700;
	width: 300px;
}

.cb p{
	width: 400px;
}

.cb img{
	width: 450px;
	height: 300px;
}

.cb_1{
	display: none;
}

.cg{
	padding: 130px 0; 
}

.cg_1 img{
	display: none;
}

.cg img{
	width: 450px;
	height: 300px;
}

.cq{
	padding: 60px 0 10px 0;
}

.cq h1{
	font-size: 20px;
	text-align: center;
	padding: 10px 0 0 0;
}

.cq p{
	text-align: center;
}

.cq img{
	width: 300px;
	height: 200px;
	display: block;
	margin: auto;
}

.tg{
	margin: 50px 0 0 0;
}

.tg .row{
	margin: 0;
}

.cr{
	background: url("../img/car3.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.ck{
	background: url("../img/crack.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.sp{
	padding: 30px;
	background: #262626;
	color: #fff;
}

.sp h1{
	padding-bottom: 2%;
	font-size: 44px;
}

.sp p{
	text-align: center!important;
	line-height: 1.7;
}

.bd{
	border: 1px solid #309cea;
	padding: 130px 10px;
}

/*.........Comments..........*/

.contact{
	background: #fff;
	padding: 30px;
	border-top: 1px solid lightgrey;
}

.contact .frm{
	margin-right: auto;
	margin-left: auto;
}

.contact h1{
	color: #383838;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.contact h4{
	font-size: 19px;
	font-weight: 400;
	color: #747474;
	font-family: Georgia, serif;
	padding-bottom: 40px;
	font-style: italic;
}

.contact label{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8;
	color: #696969;
	padding-left: 10px;
}

.contact input{
	border-radius: 20px;
	border: 2px solid #d8d8d8;
	box-shadow: none;
	padding: 20px;
	width: 100%;
}

.contact input:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

.contact textarea:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

::placeholder{
	font-size: 1rem;
}

.contact button{
	padding: 10px 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	border: none;
	color: white;
	border-radius: 20px;
	background-color: limegreen;
}

.contact button:hover{
	color: #fff;
}

.contact a{
	text-decoration: none;
}

/*..........Footer...........*/

/*footer{
	padding: 70px;
	background-color: green;
	bottom:0;
	width: 100%;
	position: relative;
}*/

/*.icon h2{
	padding: 0 0 20px 0;
	color: #fff;
	font-weight: 500;
}

.icon ul{
	list-style-type: none;
}

.icon ul li{
	display: inline-flex;
	border: 2px solid white;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

li i{
	color: black;
	padding: 10px;
}

.fa{
	font-size: 18px;
	color: #fff;
}

.fa-facebook{
	color: blue;
}

.fa-youtube-play{
	color: rgb(220,20,60);
}

.fa-instagram{
	background-color: ; 
}

.fa-twitter{
	color: rgba(29,161,242,1.00);
}

.textwidget p{
	color: #fff;
	font-size: 18px;
}

.policy p{
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}
*/
/*..........Footer2.........*/

.ftt{
	background-color: #696969;
}

.footer-1{
	float: left;
	margin: 0 250px 0 20px;
}

.footer-2{
	float: left;
	margin-right: 150px;
}

.footer-3{
	float: left;
	margin-left: 130px;
}

.footer-ul{
	list-style-type: none;
}

.footer-ul li{
	text-align: center;
	padding: 10px;
}

.footer-ul li:hover{
	text-decoration: underline;
}

.footer-ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}

.ft-li li{
	display: inline-block;
}

.ft-li .fa{
	color: #fff;
	font-size: 20px;
}

.ft-li li{
	background-color: mediumseagreen;
	border-radius: 100px;
	width: 40px;
	height: 40px;
}

.ftt{
	padding: 10px 0;
}

.ftt h4{
	padding: 30px 0 10px 0;
	color: #fff;
	font-weight: 600;
	font-size: 1em;
}

.policy{
	text-align: center;
	color: #fff;
}

.policy p{
	padding: 20px 0 0 0;
	font-weight: 550;
}

.policy span{
	font-weight: 550;
}

/*..........Page loader.........*/

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("http://smallenvelop.com/wp-content/uploads/2014/08/Preloader_2.gif") center no-repeat #fff;
}

/*............Responsivesness............*/

@media only screen and (max-width: 320px){
/*.......Navbar........*/
	.bg-light{
		width: 100%;
	}

	.navbar-brand{
		float: left;
		padding: 10px 0 0 0;
	}

	.navbar-brand img{
		width: 140px;
		height: 50px;
	}

	.navbar-toggler{
		border: none;
	}

	.navbar-nav{
		text-align: center;
	}

/*.........Intro.........*/

	.intro{
		position: relative;
	}

	.intro h2{
		padding: 80px 0 0 0;
		font-size: 40px;
		text-align: center;
		z-index: 1000;
		position: relative;
	}

	.intro p{
		text-align: center;
		z-index: 1000;
		position: relative;
	}

	.intro img{
		width: 300px;
		height: 300px;
		position: absolute;
		background-attachment: fixed;
		background-position: center;
		top: 0;
		left: 0;
		opacity: 0.2;
		margin-top: -350px;
	}

	.intro_1 img{
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 250px;
		height: 200px;
	}

	.intro .btn{
		display: block;
		margin: 0 auto;
	}

/*............Cover..........*/

	.cv{
		padding: 0;
	}

	.cv h1{
		padding: 20px 0 ;
	}

	.cv .col-md-2{
		margin: 0 0 100px 0; 
	}

/*...........About...........*/
	.abt{
		padding: 0;
	}
	
	.abt h2{
		padding: 20px 0;
	}

	/*.ac p{
		text-align: center;
	}*/

	.pg{
		padding: 15px;
	}

/*...........Partners...........*/

	.pn h1{
		padding: 30px 0 10px 0;
	}

	.pn .box{
		margin: 10px 0;
	}

	.pn .box img{
		width: 200px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto; 
	}

/*............Contact............*/
	
	.contact{
		padding: 10px;
	}

	.contact h1{
		padding: 5px 0;
	}

/*............Medical Cover...........*/

	.med{
		margin-bottom: 10px
	}

	.med img{
		width: 300px;
		height: 250px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.md h2{
		font-size: 40px;
		text-align: center;
		padding: 20px 0 5px 0;
	}

	.md p{
		text-align: center;
		font-size: 18px;
	}

	.med_1 h3{
		padding: 10px 0;
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}

	.med_1 p{
		width: 300px;
		padding: 5px 0;
	}

	.med_2 img{
		width: 200px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	} 

	.med_2 h1{
		text-align: center;
		padding: 60px 0 10px 0;
	}

	.med_2 h2{
		text-align: center;
	}

	.med_2 p{
		text-align: center;
	}

	.med_3 img{
		width: 200px;
		height: 200px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.med_3 h1{
		padding: 50px 0 0 0;
	}

	.med_4 img{
		width: 200px;
		height: 200px;
	}

/*.............Life Cover.............*/

	.lf_1 p{
		text-align: center;
		width: 300px;
		padding: 30px 0;
	}

	.lf img{
		width: 280px;
		height: 280px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.lf h1{
		padding: 50px 0 0 0;
		text-align: center;
		width: 300px;
	}

	.lf p{
		width: 300px;
		text-align: center;
	}

/*............Business Cover...........*/

	.bn{
		padding: 5px 0;
	}

	.bn h1{
		padding: 30px 0 10px 0;
		text-align: center;
		width: 300px;
	}

	.bn p{
		width: 300px;
		text-align: center;
	}

	.bn img{
		width: 250px;
		height: 200px;
		margin: 10px 0;
	}

	.bn_5 img{
		display: none;
	}

	.bn_6 img{
		width: 250px;
		height: 200px;
		margin: 10px 0;
		display: block;
	}

	.bn_7 img{
		display:none; 
	}

	.bn_8 img{
		width: 250px;
		height: 200px;
		margin: 10px 0;
		display: block; 
	}

	.bn_1 p{
		padding: 20px 0;
		width: 300px;
	}

/*..........Property Cover.........*/

	.pt{
		padding: 100px 0 0 0;
	}

	.pt img{
		width: 300px;
		height: 250px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.pt_1 p{
		width: 300px;
		padding: 20px 0;
	}

	.pr img{
		width: 250px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.pr h1{
		padding: 30px 0 10px 0;
		text-align: center;
	}

	.pr p{
		width: 300px;
		text-align: center;
	}

	.pr_1 img{
		display: none;
	}

	.pr_2 img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 250px;
		height: 200px;
	}

/*.............Car Cover...........*/

	.cp h1{
		padding: 10px 0 0 0;
	}

	.cp p{
		width: 300px;
	}

	.cb h1{
		text-align: center;
		padding: 20px 0 0 0;
	}

	.cb p{
		width: 300px;
		text-align: center;
	}

	.cb img{
		width: 250px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.cg_0 img{
		display: none;
	}

	.cg_1 img{
		width: 250px;
		height: 200px;
		display: block;
		margin-right: auto;
		margin-left: auto;
	}

	.cb_2 img{
		display: none;
	}

	.cb_1 img{
		display: block;
		width: 250px;
		height: 200px;
		margin-left: auto;
		margin-right: auto;
	}
}








