*{
	margin: 0;
	padding: 0; 
}

.bg-light{
	background: white!important;
	padding-bottom: 15px;
	width: 100%;
}

.navbar-brand{
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 180px;
	height: 65px;
}

.nav-item{
	padding-left: 50px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	font-weight: 480;
	font-family: sans-serif;
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

.dropdown-menu{
	background-color: rgb(30,144,255);
	border: none;
}

.dropdown-item{
	padding: 5px 6px;
	color: #fff;
	font-size: 14px;
}

.dropdown-item:hover{
	color: #f89828;
}