.bg-light{
	background: white!important;
	padding-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

.navbar-brand{
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 180px;
	height: 65px;
}

.nav-item{
	padding-left: 50px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	font-weight: 480;
	font-family: sans-serif;
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

/*.dropdown-menu{
	background-color: rgb(30,144,255);
	border: none;
}

.dropdown-item{
	padding: 5px 6px;
	color: #fff;
	font-size: 14px;
}

.dropdown-item:hover{
	color: #f89828;
}*/

/*.........Medical Cover..........*/

.md_wrap{
	padding-bottom: 80px;
}

.med{
	margin-top: 150px;
	margin-bottom: 50px;
}

.med h2{
	padding-top: 70px;
	padding-bottom: 10px;
	font-size: 45px;
	color: green;
}

.med p{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 1.7;
}

.med img{
	width: 520px;
	height: 450px;
}

.med .btn{
	background-color: green;
	color: #fff;
	border-radius: 100px;
	padding: 5px 20px;
}

.med_1 h3{
	padding: 40px 0 0 0;
	color: green;
	font-weight: 700;
}

.med_1 p{
	width: 600px;
	padding: 5px 0 30px 0;
	font-size: 17px;
}

.med_2 img{
	margin: 100px 0 0 0;
	width: 500px;
	height: 500px;
}

.med_2 h1{
	font-weight: 700;
	font-size: 28px;
	padding: 85px 0 5px 0;
}

.med_2 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_2 i{
	color: black;
	padding-right: 5px;
}

.med_2 p{
	line-height: 1.7;
	font-weight: 400;
	font-size: 17px;
}

.med_3 h1{
	font-weight: 700;
	font-size: 25px;
	padding: 150px 0 0 0;
}

.med_3 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_3 i{
	color: black;
	padding-right: 5px;
}

.med_3 img{
	margin: 150px 0 0 0;
	width: 500px;
	height: 500px;
}

.p_color{
	color: green;
}

/*.........Car Cover..........*/

.cp h1{
	padding: 80px 0 5px 0;
	font-size: 22px;
}

.cp p{
	width: 500px;
	font-weight: 400;
	padding: 0 0 40px 0;
}

/*.cb h1{
	padding: 90px 0 0 0;
	font-size: 28px;
	font-weight: 400;
	width: 300px;
}

.cb p{
	width: 400px;
}

.cb img{
	width: 450px;
	height: 300px;
}

.cg{
	padding: 130px 0; 
}

.cg img{
	width: 450px;
	height: 300px;
}*/

.cq{
	padding: 60px 0 10px 0;
}

.cq h1{
	font-size: 20px;
	text-align: center;
	padding: 10px 0 0 0;
}

.cq p{
	text-align: center;
}

.cq img{
	width: 300px;
	height: 200px;
	display: block;
	margin: auto;
}

.tg{
	margin: 50px 0 0 0;
}

.tg .row{
	margin: 0;
}

.cr{
	background: url("../img/car3.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.ck{
	background: url("../img/crack.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.sp{
	padding: 30px;
	background: #262626;
	color: #fff;
}

.sp h1{
	padding-bottom: 2%;
	font-size: 44px;
}

.sp p{
	text-align: center!important;
	line-height: 1.7;
}

.bd{
	border: 1px solid #309cea;
	padding: 130px 10px;
}

/*..........Footer...........*/

footer{
	padding: 70px;
	background-color: green;
	bottom:0;
	width: 100%;
	position: relative;
}

.icon{
	text-align: center;
}

.icon h2{
	padding: 0 0 25px 0;
	color: #fff;
	font-weight: 500;
}

ul{
	list-style-type: none;
}

.icon ul li{
	display: inline-block;
	border: 2px solid white;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

li i{
	color: black;
	padding: 10px;
}

.fa{
	font-size: 18px;
	color: #fff;
}

.fa-facebook{
	color: blue;
}

.fa-youtube-play{
	color: rgb(220,20,60);
}

.fa-instagram{
	background-color: ; 
}

.fa-twitter{
	color: rgba(29,161,242,1.00);
}

.textwidget p{
	color: #fff;
	font-size: 18px;
}

.policy p{
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}

/*............Page Loader..........*/