*{
	margin: 0;
	padding: 0; 
}

.bg-light{
	background: white!important;
	padding-bottom: 15px;
	width: 100%;
}

.navbar-brand{
	padding-top: 15px;
	padding-left: 80px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 180px;
	height: 65px;
}

.nav-item{
	padding-left: 50px;
	font-size: 18px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000000;
	font-weight: 480;
	font-family: sans-serif;
	padding-top: 20px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

.dropdown-menu{
	background-color: rgb(30,144,255);
	border: none;
}

.dropdown-item{
	padding: 5px 6px;
	color: #fff;
	font-size: 14px;
}

.dropdown-item:hover{
	color: #f89828;
}

/*.........Classes.......*/

.t-center{
	text-align: center;
}

.t-left{
	text-align: left;
}

.t-right{
	text-align: right;
}

/*.........Banner........*/

.bn-t{
	position: absolute;
	margin-top: 10%; 
	z-index: 1000;
}

.bn-t h1{
	font-weight: 600;
	color: #fff;
	margin: 0;
	font-size: 3.4em;
}

.bn-t h2{
	font-weight: 300;
	padding-top: 5px;
	color: #fff;
	font-size: 1.8em;
}

.mg-7{
	margin-top: 8%;
}

/*..........Covers........*/

.cover{
	background-color: #f4f4f4;
	width: 100%;
	position: relative;
}

.cover h1{
	padding: 30px 0 60px 0;
	color: #383838;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
}

.cover .row{
	margin: 0;
}

.frame{
	border: 1px solid rgb(211,211,211);
	border-radius: 5px;
	margin: 0 0px 50px 20px;
	padding: 0px;
	background: #fff;
	box-sizing: border-box;
}

.frame:hover{
	box-shadow: 0px 0px 20px #888888;
}

.frame h5,p{
	text-align: center;
}

.frame h5{
	padding: 15px 0 6px 0;
	color: #006400;
	font-weight: bold;
}

.frame p{
	padding: 0 0 5px 0;
	color: #696969;
}

.frame img{
	width: 100%;
	height: 160px;
}

.frame button{
	border: none;
	background: seagreen;
	padding: 5px 20px;
	border-radius: 50px;
	margin: 0 0 25px 0;
}

.frame button:hover{
	background: darkgreen;
}

.frame button a{
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.mg-7{
	margin-top: 7%;
}

/*..........Partners...........*/

.pn{
	background: #f4f4f4;
	padding-bottom: 40px;
	margin-bottom: 1px solid black;
	border-top: 1px solid lightgrey;
}

.pn h1{
	padding: 30px 0 40px 0;
	color: #383838;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
}

.pn .box{
	margin: 15px 35px 0 0;
}

.pn img{
	width: 150px;
	height: 150px;
}

/*.........Comments..........*/

.contact{
	background: #fff;
	padding: 30px;
	border-top: 1px solid lightgrey;
}

.contact .frm{
	margin-right: auto;
	margin-left: auto;
}

.contact h1{
	color: #383838;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.contact h4{
	font-size: 19px;
	font-weight: 400;
	color: #747474;
	font-family: Georgia, serif;
	padding-bottom: 40px;
	font-style: italic;
}

.contact label{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8;
	color: #696969;
	padding-left: 10px;
}

.contact input{
	border-radius: 20px;
	border: 2px solid #d8d8d8;
	box-shadow: none;
	padding: 20px;
	width: 100%;
}

.contact input:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

::placeholder{
	font-size: 1rem;
}

.contact button{
	padding: 10px 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	border: none;
	color: white;
	border-radius: 20px;
	background-color: limegreen;
}

.contact button:hover{
	color: #fff;
}

.contact a{
	text-decoration: none;
}

/*........Medical Cover........*/

.md{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/medical.jpeg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.qt h1{
	font-size: 28px;
	font-weight: 400;
	padding: 10px 0 0 0;
}

.qt p{
	width: 500px;
	line-height: 1.7;
	padding: 5px 0 20px 0;
	font-size: 17px;
	font-weight: 400; 
}

.cl-g img{
	width: 450px;
	height: 400px;
}

.cl-t h1{
	padding: 40px 0 0 0;
	font-size: 30px;
}

.cl-t p{
	text-align: left;
	line-height: 1.7;
}

.cl-m h1{
	font-size: 22px;
	padding: 70px 0 0 0;
}

.cl-m p{
	text-align: left;
}

.cl-m i{
	color: black;
	padding-right: 5px;
}

.cl-m img{
	width: 450px;
	height: 500px;
	padding: 70px 0 0 0;
}

.bn h1{
	padding: 8px 0 0 0;
	font-size: 22px;
}

.bn p{
	color: black;
	text-align: left;
}

.bn i{
	color: black;
	padding-right: 5px;
}

.med{
	background: url("../img/medical2.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.tg{
	margin: 50px 0 0 0;
}

.tg .row{
	margin: 0;
}

.cal{
	padding: 2%;
	background: #494949;
	color: #fff;
}

.cal h1{
	padding-bottom: 2%;
}

.cal p{
	text-align: left!important;
	line-height: 1.7;
}

.cal i{
	padding-right: 8px;

}

.bd{
	border: 1px solid #309cea;
	padding: 5px 5px 10px 30px;
}

/*.........Life Cover........*/

.life{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/care.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.lf{
	padding: 30px 0 80px 0;
}

.lf-p h1{
	font-size: 18px;
	padding: 120px 0 8px 0;
}

.lf-p p{
	line-height: 1.8; 
}

.lf-g{
	text-align: center;
}

.lf-g img{
	padding: 50px 0 0 0;
	width: 300px;
	height: 350px;
}

/*.........Business Cover........*/

.business{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/business.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.sc .row{
	margin: 0;
}

.bn-l{
	background: url("../img/business1.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.bn-2{
	background: url("../img/business2.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.sc{
	margin: 50px 0 0 0;
}

.cl{
	padding: 30px;
	background: #494949;
	color: #fff;
}

.cl h1{
	padding-bottom: 20px;
	font-size: 21px;
	text-align: center;
}

.cl p{
	text-align: center !important;
	line-height: 1.7;
	padding: 0 70px;
	color: #d2d2d2;
}

.cl i{
	padding-right: 8px;
}

.db{
	border: 1px solid #309cea;
	padding: 35px 50px 30px 50px;
}

/*.........Property Cover.........*/

.property{
	width: 100%;
	height: 55vh;
	background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.4)),
	url("../img/property.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

/*..........Car Cover........*/



/*..........Footer...........*/

footer{
	padding: 70px;
	background-color: green;
	bottom:0;
	width: 100%;
	position: relative;
}

.icon{
	text-align: center;
}

.icon h2{
	padding: 0 0 25px 0;
	color: #fff;
	font-weight: 500;
}

ul{
	list-style-type: none;
}

.icon ul li{
	display: inline-block;
	border: 2px solid white;
	margin-right: 8px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

li i{
	color: black;
	padding: 10px;
}

.fa{
	font-size: 18px;
	color: #fff;
}

.fa-facebook{
	color: blue;
}

.fa-youtube-play{
	color: rgb(220,20,60);
}

.fa-instagram{
	background-color: ; 
}

.fa-twitter{
	color: rgba(29,161,242,1.00);
}

.textwidget p{
	color: #fff;
	font-size: 18px;
}

.policy p{
	color: #fff;
	font-weight: 400;
	font-size: 1em;
}
