*{
	margin: 0;
	padding: 0;
}

html,body{
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

/*..........Navbar...........*/

.bg-light{
	background: white!important;
	padding-bottom: 10px;
	width: 100%;
	border-bottom: 2px solid #f4f4f4;
	z-index: 1;
}

.navbar-brand{
	padding-top: 10px;
	padding-left: 200px;
	padding-right: 10px;
}

.navbar-brand img{
	width: 150px;
	height: 50px;
}

.navbar-nav{
	padding-left: 200px;
}

.nav-item{
	padding-left: 25px;
	font-size: 17px;
}

.navbar-light .navbar-nav .nav-link{
	color: green;
	font-weight: 600;
	font-size: 17px;
	padding-top: 18px;
}

.navbar-light .navbar-nav .nav-link:hover{
	color: #f89828!important;
}

.navbar-nav .dropdown-menu{
	border: none;
	background-color: #fff;
	margin-left: 55px;
}

.dropdown-item{
	padding: 10px 20px;
	color: green;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
}

.dropdown-item:hover{
	color: coral;
}

/*.............Intro............*/

.intro{
	width: 100%;
	height: 80vh;
	background: linear-gradient(
      rgba(0,0,0,0.6), 
      rgba(0,0,0,0.6)),
	url("../img/insurance.jpg");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.txt_abt{
	position: absolute;
	margin-top: 16%; 
	z-index: 0;
}

.txt_abt h1{
	font-weight: 600;
	padding-bottom: 10px;
	color: #fff;
	margin: 0;
	font-size: 3.4em;
}

.txt_abt h2{
	font-weight: 300;
	padding-top: 5px;
	color: #fff;
	font-size: 1.8em;
}

.txt_abt .btn{
	margin-top: 80px;
	background-color: green;
	color: white;
	padding: 15px 80px;
	border-radius: 50px;
	font-weight: 700;
	font-size: 25px;
}

/*..........Covers........*/

.cv{
	padding: 10px 0 150px 0;
	background: #f4f4f4;
}

.cv .row{
	margin: 0;
}

.cv h1{
	color: green;
	font-size: 40px;
	font-weight: 600;
	padding: 10px 0 60px 0;
}

.cv img{
	width: 80px;
	height: 80px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.cv h5{
	padding: 20px 0 10px 0;
	color: #006400;
	font-weight: bold;
}

.cv p{
	line-height: 1.7;
	color: #696969;
	font-size: 16px;
	font-weight: 500;
}

.cv a{
	text-decoration: none;
}

.cv .btn{
	display: block;
	margin: auto;
	background-color: transparent;
	border: 2px solid green;
	color: green;
	border-radius: 100px;
	padding: 8px 30px;
	font-size: 20px;
}

.cv .btn:hover{
	background-color: #4CAF50;
	color: #fff;
	border: none;
}

.btn_a{
	position: absolute;
	left: 50px;
	bottom: -60px;
}

/*...........Why Us..........*/

.ab{
	padding-bottom: 50px;
}

.ab h2{
	font-weight: 600;
	font-size: 40px;
	color: green;
	padding-top: 40px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}

.ab p{
	text-align: center;
	font-size: 17px;
	line-height: 1.7;
}

/*..........Testimonials.........*/

/*.slider h2{
	padding: 40px 0;
	font-weight: 600;
	font-size: 35px;
	letter-spacing: 1px;
	color: #383838;
}

.carousel-item blockquote{
	text-align: center;
	line-height: 1.6
	color: #696969;
	padding: 0 350px;
}

.carousel-item h5{
	text-align: center;
	display: block;font-size: 20px;
}

.carousel-item span{
	text-align: center;
}*/

/*..........Partners...........*/

.pn{
	background: #f4f4f4;
	padding-bottom: 40px;
	border-top: 1px solid lightgrey;
	margin-bottom: 1px solid black;
}

.pn h1{
	padding: 30px 0 40px 0;
	color: green;
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 2px;
}

.pn .box{
	margin: 15px 35px 0 0;
}

.pn img{
	width: 150px;
	height: 150px;
}

/*.........Medical Cover..........*/

.md_wrap{
	padding-bottom: 80px;
}

.med{
	margin-top: 100px;
	margin-bottom: 50px;
}

.med h2{
	padding: 80px 0 5px 0;
	font-size: 50px;
	font-weight: 900;
	color: green;
}

.med p{
	font-size: 20px;
	padding-bottom: 10px;
	line-height: 1.7;
}

.med img{
	margin-top: 30px;
	width: 100%;
	height: auto;
}

.med_1 h3{
	padding: 40px 0 0 0;
	color: green;
	font-weight: 500;
	font-size: 35px;
}

.med_1 p{
	width: 100%;
	padding: 5px 250px 30px 250px;
	font-size: 17px;
}

.med_2 img{
	margin: 180px 0 0 100px;
	width: 100%;
	height: auto;
}

.med_2 h1{
	font-weight: 700;
	font-size: 35px;
	padding: 85px 0 5px 0;
}

.med_2 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_2 i{
	color: green;
	padding-right: 5px;
}

.med_2 p{
	line-height: 1.6;
	font-weight: 400;
	font-size: 17px;
}

.med_3 h1{
	font-weight: 700;
	font-size: 25px;
	padding: 150px 0 10px 0;
}

.med_3 h2{
	font-weight: 700;
	font-size: 23px;
	padding: 10px 0 5px 0;
}

.med_3 p{
	line-height: 1.6;
	font-weight: 400;
	font-size: 17px;
}

.med_3 i{
	color: green;
	padding-right: 5px;
	padding-bottom: 10px;
}

.med_3 img{
	margin: 150px 100px 0 0;
	width: 500px;
	height: 500px;
}

.p_color{
	color: green;
}

.med_4 ul{
	list-style-type: none;
}

.med_4 img{
	margin: 150px 0 0 50px;
	width: 100%;
	height: auto;
}

.med_4 h1{
	padding: 150px 0 10px 0;
	font-weight: 700;
	font-size: 26px;
}

.med_4 li{
	padding-bottom: 20px;
}

.med_4 i{
	color: green;
	text-align: left;
	padding-right: 5px; 
}

/*...........Banner Buttons.........*/

.inline_btn{
	margin-right: 13px;
	padding: 10px 25px;
	background-color: darkorange;
	color: #fff;
}

.inline_btn:hover{
	color: #fff;
	transform: translate(0px, -3px) scale(1.1);
}

.inline_btn1{
	background-color: transparent;
	color: green;
	padding: 10px 20px;
}

/*...........Insurance Buttons...........*/

.insure{
	padding: 15px 0;
	background-color: seagreen;
}

.insure p{
	padding-top: 20px;
	padding-right: 0;
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

.insure button{
	border: 3px solid darkorange;
	padding: 15px 80px;
	color: #fff;
	background-color: transparent;
	font-size: 20px;
}

.insure a{
	text-decoration: none;
}

.insure button:hover{
	background-color: darkorange;
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -3px) scale(1);
	color: #fff;
}

/*.........Life Cover..........*/

.lf_f{
	margin-top: 120px;
	margin-bottom: 50px;
}

.lf_f h2{
	padding: 100px 0 10px 0;
	font-size: 50px;
	color: green;
	font-weight: 900;
}

.lf_f p{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 1.7;
}

.lf_f img{
	margin-top: 30px;
	width: 100%;
	height: auto;
}

.lf{
	padding: 10px 0 40px 0;
}

.lf img{
	margin: 20px 0 30px 0;
	width: 450px;
	height: 400px;
}

.lf h1{
	padding: 180px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	width: 100%;
}

.lf p{
	width: 400px;
	line-height: 1.7;
	font-weight: 400;
	font-size: 17px;
}

.lf img{
	width: 450px;
	height: 400px;
	margin-top: 70px;
}

.h_1{
	border-color: green;
}

.lf_1 h3{
	color: green;
	padding: 60px 0 10px 0;
	font-size: 35px;
	font-weight: 500;
}

.lf_1 p{
	padding: 0px 0 50px 0;
	font-size: 17px;
	width: 600px;
}

/*.........Business Cover..........*/

.bn{
	padding: 30px 0 90px 0;
}

.bn h1{
	padding: 200px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	width: 100%;
}

.bn p{
	width: 400px;
	line-height: 1.7;
	font-weight: 400;
	font-size: 17px;
}

.bn img{
	margin: 90px 0 0 0;
	width: 100%;
	height: auto;
}

.bn_1 h3{
	padding: 40px 0 0 0;
	color: green;
	font-weight: 500;
	font-size: 35px;
}

.bn_1 p{
	padding: 10px 0 70px 0;
	font-size: 17px;
	width: 500px;
}

.bn_p .row{
	margin: 0;
}

.bn_hp{
	background-color: #262626;
	padding: 40px 20px;
}

.bn_hp p{
	line-height: 1.7;
}

.bn_2{
	background: url(../img/business1.jpg);
	background-size: contain;
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed; 
}

.bn_4{
	background: url(../img/business2.jpg);
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bn_3{
	border: 1px solid #309cea ;
	padding: 50px 30px;
}

.s_color{
	color: white;
}

.bn_6 img{
	display: none;
}

.bn_8 img{
	display: none;
}

.bn_9 h1{
	padding: 150px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	width: 100%;
}

.bn_10 h1{
	padding: 120px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	width: 100%;
}

.bn_9 img{
	margin-top: 100px;
}

.bn_10 img{
	margin-top: 150px;
}

/*.........Property Cover.........*/

.pt_0{
	padding: 10px 0 90px 0;
}

.pt{
	padding-top: 150px;
	padding-bottom: 100px;
}

.pt h2{
	padding-top: 40px;
	padding-bottom: 10px;
	font-size: 50px;
	font-weight: 900;
	color: green;
}

.pt p{
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 10px;
	line-height: 1.7;
}

.pt img{
	width: 100%;
	height: 100%;
}

.pt_1 h3{
	font-size: 35px;
	color: green;
	font-weight: 500;
	padding: 10px 0 5px 0;
}

.pt_1 p{
	width: 500px;
	padding-bottom: 30px;
	font-size: 17px;
}

.pr img{
	margin: 80px 0 0 0;
	width: 100%;
	height: auto;
}

.pr h1{
	padding: 200px 0 5px 0;
	font-size: 35px;
	font-weight: 700px;
	width: 100%;
}

.pr p{
	width: 400px;
}

.pr_2 img{
	display: none;
}


/*.........Car Cover..........*/

.cp h3{
	padding: 80px 0 5px 0;
	font-size: 35px;
	color: green;
	font-weight: 500;
}

.cp p{
	width: 500px;
	font-size: 17px;
	padding: 0 0 40px 0;
}

.cb{
	padding-bottom: 50px;
}

.cb h1{
	padding: 150px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	width: 100%;
	line-height: 1.5;
}

.cb p{
	width: 400px;
}

.cb img{
	margin-top: 60px;
	width: 100%;
	height: auto;
}

.cb_1{
	display: none;
}

.cg{
	padding: 50px 0; 
}

.cg_1 img{
	display: none;
}

.cg img{
	width: 400px;
	height: 350px;
}

.cq{
	padding: 60px 0 10px 0;
}

.cq h1{
	font-size: 20px;
	text-align: center;
	padding: 10px 0 0 0;
}

.cq p{
	text-align: center;
}

.cq img{
	width: 300px;
	height: 200px;
	display: block;
	margin: auto;
}

.tg{
	margin: 50px 0 0 0;
}

.tg .row{
	margin: 0;
}

.cr{
	background: url("../img/car3.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.ck{
	background: url("../img/crack.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
}

.sp{
	padding: 30px;
	background: #262626;
	color: #fff;
}

.sp h1{
	padding-bottom: 2%;
	font-size: 44px;
}

.sp p{
	text-align: center!important;
	line-height: 1.7;
}

.bd{
	border: 1px solid #309cea;
	padding: 130px 10px;
}

/*.........Comments..........*/

.contact{
	background: #fff;
	padding: 30px;
	border-top: 1px solid lightgrey;
}

.contact .frm{
	margin-right: auto;
	margin-left: auto;
}

.contact h1{
	color: green;
	font-size: 35px;
	font-weight: 900;
	letter-spacing: 2px;
	padding-bottom: 10px;
}

.contact h4{
	font-size: 19px;
	font-weight: 400;
	color: #747474;
	font-family: Georgia, serif;
	padding-bottom: 40px;
	font-style: italic;
}

.contact label{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.8;
	color: #696969;
	padding-left: 10px;
}

.contact input{
	border-radius: 20px;
	border: 2px solid #d8d8d8;
	box-shadow: none;
	padding: 20px;
	width: 100%;
}

.contact input:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

.contact input:active{
	border: 2px solid limegreen;
	box-shadow: none;
}

.contact textarea:focus{
	border: 2px solid limegreen;
	box-shadow: none;
}

.contact textarea:active{
	border: 2px solid limegreen;
	box-shadow: none;
}

::placeholder{
	font-size: 1rem;
}

.contact button{
	padding: 10px 0;
	display: block;
	width: 100%;
	margin: 0 auto;
	border: none;
	color: white;
	border-radius: 20px;
	background-color: limegreen;
}

.contact button:hover{
	color: #fff;
}

.contact a{
	text-decoration: none;
}

/*..........Footer...........*/

.ftt{
	background-color: #696969;
}

.footer-ul{
	list-style-type: none;
	text-align: center;
}

.footer-ul li{
	text-align: center;
	padding: 10px;
}

.footer-ul li:hover{
	text-decoration: underline;
}

.footer-ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 1em;
	font-weight: 300;
}

.ft-li li{
	display: inline-block;
}

.ft-li .fa{
	color: #fff;
	font-size: 20px;
}

.ft-li li{
	background-color: mediumseagreen;
	border-radius: 100px;
	width: 40px;
	height: 40px;
}

.ftt{
	padding: 10px 0;
}

.ftt h4{
	padding: 30px 0 10px 0;
	color: #fff;
	font-weight: 600;
	font-size: 1em;
}

.policy{
	text-align: center;
	color: #fff;
}

.policy p{
	padding: 20px 0 0 0;
	font-weight: 550;
}

.policy span{
	font-weight: 550;
}

/*.............Preloader..........*/

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;
  border: 3px solid transparent;
  border-top-color: #F44336;
  border-radius: 50%;
  z-index: 1001;
  -webkit-animation: spin 1.5s infinite linear;
          animation: spin 1.5s infinite linear;
}
.loader-wrapper .loader:before, .loader-wrapper .loader:after {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.loader-wrapper .loader:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color:#F44336;
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}
.loader-wrapper .loader:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #F44336;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*Section */
.loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
}
.loader-section.section-left {
  left: 0;
}
.loader-section.section-right {
  right: 0;
}

/*Finished Loading Styles*/
.loaded .section-left {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.loaded .section-right {
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.loaded .loader {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  opacity: 0;
}
.loaded .loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/*............Responsivesness Phone............*/

@media only screen and (max-width: 425px){
	
	.bg-light{
		z-index: 10;
	}

	.navbar-brand{
		padding: 10px 0 0 0;
	}

	.navbar-brand img{
		width: 140px;
		height: 50px;
	}

	.navbar-nav{
		padding: 0;
	}

	.nav-item{
		text-align: center;
		padding: 0;
	}

	.navbar-nav .dropdown-menu{
		border: none;
		border-top: 2px dotted lightgrey;
		border-bottom: 2px dotted lightgrey;
		background-color: #fff;
		margin-left: 0;
	}	

	.dropdown-item{
		padding: 10px 20px;
		color: green;
		text-align: center;
		font-size: 16px;
		font-weight: 400;
	}

	.intro{
		width: 100%;
		height: 60vh;
		background: linear-gradient(
	      rgba(0,0,0,0.4), 
	      rgba(0,0,0,0.4)),
		url("../img/insurance.jpg");
		background-position: 60% 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.txt_abt h1{
		padding-top: 70px;
		font-size: 30px;
	}

	.txt_abt h2{
		padding: 10px 0 0 0;
		font-size: 23px;
	}

	.txt_abt .btn{
		margin-top: 25px;
		padding: 10px 40px;
	}

	.cv{
		padding-bottom: 40px;
	}

	.cv h1{
		padding-bottom: 20px;
	}

	.cv .col-md-2{
		padding-bottom: 90px;
	}

	.btn_a{
		position: unset;
		left: unset;
		bottom: unset;
	}

	.ab p{
		text-align: left;
		font-size: 1.0625rem;
	}

	.abt{
		padding: 0;
	}

	.pg{
		width: 100%;
		padding: 20px 8px 10px 8px;
	}

	.pn img{
		width: 200px;
		height: 200px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.pn .box{
		margin: 0;
	}

	.contact{
		width: auto;
		padding: 0;
		padding-bottom: 20px;
	}

	/*........Footer........*/
	.footer-1, .footer-2, .footer-3{
		margin: 0 auto;
	}

	/*.........Medical Cover.........*/
	.med{
		text-align: center;
		position: relative;	
	}

	.med img{
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.1;
	}

	.med h2{
		padding: 20px 0 0 0;
		position: relative;
		z-index: 10;
	}

	.med_1 h3{
		width: auto;
	}

	.med_1 p{
		width: 100%;
		padding: 0 0 10px 0; 
	}

	.med_2 h1{
		text-align: left;
		padding: 10px 0;
	}

	.med_2 img, .med_3 img{
		width: 100%;
		height: auto;
		margin: 40px 0 0 0;
	}

	.med_3 h1{
		padding: 50px 0 0 0;
	}

	.med_4 h1{
		padding-top: 10px;
	}

	.inline_btn{
		margin-bottom: 10px;
	}

	.insure button{
		padding: 10px 50px;
		font-size: 17px;
		margin: 0 auto;
		display: block;
	}

	/*...........Life Cover..........*/
	.lf_f{
		text-align: center;
		position: relative;	
	}

	.row-reverse{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}

	.lf_f img{
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.1;
		margin-top: -300px;
	}

	.lf_f h2{
		padding: 10px 0 0 0;
		font-size: 45px;
		color: green;
	}

	.lf_f p{
		font-size: 20px;
		font-weight: 300;
	}


	.lf img{
		width: 100%;
		height: auto;
		margin: 50px 0 0 0;
	}

	.lf h1, .lf p, .lf_1 p{
		width: 100%;
		text-align: center;
		padding: 15px 0;
	}

	.lf_1 h3{
		padding: 50px 0 0 0;
	}

	/*.........Business Cover.........*/
	.bn_1 p{
		width: 100%;
		padding: 10px 0;
	}

	.bn h1{
		width: 100%;
		text-align: center;
		padding: 20px 0;
	}

	.bn p{
		width: 100%;
		text-align: center;
	}

	.bn img{
		width: 100%;
		height: auto;
	}

	/*........Property Cover..........*/
	.pt{
		padding: 20px;
		text-align: center;
		position: relative;
	}

	.pt h2{
		padding-top: 90px;
		text-align: center;
		position: relative;
		z-index: 10;
	}

	.pt img{
		width: 100%;
		height: auto;
		position: absolute;
		top: 0;
		left: 0;
		margin-top: -300px;
		opacity: 0.2;
	}

	.pt_1 p{
		text-align: center;
		width: 100%;
	}

	.pr img{
		width: 100%;
		height: auto;
	}

	.pr h1{
		padding: 20px;
		text-align: center;
	}

	.pr p{
		width: 100%;
		text-align: center;
	}

	/*.........Car Cover.........*/
	.cp h3{
		padding: 10px 0;
	}

	.cp p{
		width: 100%;
	}

	.cb h1{
		padding: 10px 0;
		text-align: center;
	}

	.cb p{
		width: 100%;
		text-align: center;
	}

	.cb img, .cg img{
		width: 100%;
		height: auto;
	}
}

/*illustration color*/

/* color:#63FF82;*/